:root {
    --rouge: #E00000;
    --rouge-secondaire: #FE5858;
    --rouge-tertiaire: #FFD6D6;
    --noir: #000000;
    --gris-fonce: #C4C4C4;
    --gris-medium: #D8D8D8;
    --gris-light: #E5E5E5;
    --bleu-fonce: #313144;
    --blanc: #ffffff;
    --alpha: 0.4;
}