// Section Filtres
// Conteneur des filtres
.photo-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 80px 0 20px;
}

// Filtres
.filter-item {
    width: 260px;
    height: 42px;
    margin-right: 15px;
    padding-left: 7px;
}

.filter-item:last-child {
    margin-right: 0;
    margin-left: auto;
    padding-right: 12px;
}

select {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
}

select option {
    text-transform: none;
}

// Police des Filtres
.select2-container--default .select2-selection--single {
    border-radius: 8px;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 18px;
}

.select2-results__option--selectable {
    font-family: 'Poppins';
    font-size: 18px;
}

// Suppression de la recherche select2
.select2-search--dropdown {
    display: none;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--rouge);
}

.select2-container--default .select2-results__option--selected {
    background-color: var(--rouge-tertiaire);
}

/* Style par défaut, flèche vers le haut */
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

/* Lorsque le menu select2 est ouvert, inverser la flèche vers le bas */
.select2-container--open .select2-selection__arrow {
    transform: rotate(180deg);
}

/* Appliquer un border-radius et une bordure bleue au clic sur un select2 */
.select2-container--default .select2-selection--single:focus,
.select2-container--default .select2-selection--single.select2-selection__rendered:focus,
.select2-container--default .select2-selection--single.select2-selection__rendered:active {
    border: 2px solid #215AFF;
    border-radius: 5px;
    outline: none;
}



// Bouton Charger Plus
.photo-button {
    display: flex;
    justify-content: center;
}

#photo-btn {
    width: 272px;
    height: 50px;
    padding: 8px 15px;
    margin: 50px 0;
    border: none;
    font-family: 'Space Mono';
    font-size: 12px;
    font-weight: 400;
    color: var(--noir);
    background-color: var(--gris-medium);
    border-radius: 2px;
    box-shadow: 0px 2px 1px 0px var(--gris-light, 0.02);
    transition: transform 0.35s ease, background-color 0.35s ease;   

    &:hover {
        color: var(--noir);
        font-weight: 700;
        background-color: var(--gris-medium);
        transform: scale(1.1);
    }  
}