// header
header {
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.03);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

// Logo
.site-logo {
    display: flex;
    align-items: center;
}

// Menu de navigation
nav {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: 40px;

    li {
        list-style: none;
    }

    a {
        font-family: "SpaceMono", sans-serif;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 23.7px;
        color: var(--noir);
    }
}

/* Styles pour les écrans inférieurs à 768px */
@media screen and (max-width: 768px) {
    .nav-menu {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;

        li {
            margin-bottom: 15px;
        }

        a {
            text-decoration: none;
            padding: 10px 20px;
            color: #333;
        }
    }

    .header-inner {
        padding: 20px 30px;
    }
}
