.hero h1 {
        display: flex;
        position: absolute;
        font-family: "SpaceMono", sans-serif;
        font-style: italic;
        font-size: 96px;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px var(--blanc);
        -webkit-text-stroke-width: 3px;
        z-index: 10;
}

.hero-banner {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1440px;
    // overflow: hidden;
    margin: auto;
}

.full-width {
    // display: block; /* Supprime les espaces blancs autour de l'image */
    width: 1447px; /* L'image prend toute la largeur de son conteneur */
    height: 966px; /* Garde le ratio d'aspect de l'image */
    // max-width: 100%; /* Assure que l'image ne dépasse pas la largeur de son conteneur */
}
