// hero_banner
.hero h1 {
        display: flex;
        position: absolute;
        font-family: "SpaceMono", sans-serif;
        font-style: italic;
        font-size: 96px;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px var(--blanc);
        -webkit-text-stroke-width: 3px;
        z-index: 1;
}

.hero-banner {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1440px;
    margin: auto;
}

.full-width {
    width: 1447px;
    height: auto;
}