/* menu-burger */
// Masquer le Burger en Desktop
.menu_burger, .nav_burger {
    display: none;
}

// Media Queries
@media screen and (max-width: 864px) {
    // Apparition du Burger sur les appareils mobiles
    .menu_burger {
        display: block;
        position: relative;
        width: 45px;
        height: 45px;
        right: 15px;
        border: none;
        background: transparent;
        cursor: pointer;
        padding: 0;
    }
    
    //  Création du Burger
    .menu_burger .line,
    .menu_burger .line::before,
    .menu_burger .line::after {
        display: block;
        position: absolute;
        width: 27px;
        height: 2px;
        border-radius: 3px;
        left: 0;
        background: var(--noir);
        transition: all 0.5s ease-in-out;
        content: "";
    }

    .menu_burger .line {
        position: relative;
    }

    .menu_burger .line::before {
        transform: translateY(-12px);
    }

    .menu_burger .line::after {
        transform: translateY(12px);
    }
    
    .menu_burger.open .line,
    .show-nav .line {
        width: 0;
        background: transparent;
    }

    .menu_burger.open .line::before,
    .show-nav .line::before {
        transform: rotate(45deg);
    }
    
    .menu_burger.open .line::after,
    .show-nav .line::after {
        transform: rotate(-45deg);
    }

    // Position du menu
    .show-nav .menu-burger {
        display: flex;
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        width: 100%;
        height: 100%;
        left: 0;
        background: var(--rouge);
        line-height: 100px;
        z-index: 1;
        gap: 18px;
    }

    .show-nav .menu-burger a {
        list-style: none;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "SpaceMono";
        font-size: 44px;
        font-weight: 400;
        margin-top: 47px;
        text-decoration: none;
        color: var(--blanc);
    }

    // Masquer le menu principal sur les appareils mobiles
    .menu-header-container {
        display: none;
    }
}

// Style pour les liens au survol
.site-navigation a:hover {
    font-weight: bold;
}
