// single-photo

// Conteneur de l'article
.infos {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px;
}

// Description des articles
.description {
    display: flex;
    flex-direction: column;
    font-family: "SpaceMono", sans-serif;
    width: 50%;
    border-bottom: 1px solid var(--noir);
    & > h2 {
        font-size: 66px;
        font-weight: 420;
        font-style: italic;
        text-transform: uppercase;
        text-decoration: none;
        width: 80%;
        color: var(--noir);
    }
    & > p {
        font-size: 14px;
        font-weight: 400;
        font-style: italic;
        text-transform: uppercase;
        text-decoration: none;
    }
}

// Photo
.infos-photo {
    width: 50%;
    & > img {
        height: auto;
        max-width: 100%;
    }
}

// Partie contact
.contact {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid var(--noir);
    padding: 24.5px 0;
}

.photo-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-family: "SpaceMono", sans-serif;
    
    & > p {
        font-size: 14px;
        font-weight: 400;
        font-style: italic;
        text-transform: uppercase;
        text-decoration: none;
        max-width: 80%;
        width: 60%;
        padding-right: 20px;
        box-sizing: border-box;
    }
}

.btn-contact {
    width: 272px;
    height: 50px;
    padding: 8px 15px;
    margin: 50px 0;
    border: none;
    font-family: 'Space Mono';
    font-size: 12px;
    font-weight: 400;
    color: var(--noir);
    background-color: var(--gris-medium);
    border-radius: 2px;
    box-shadow: 0px 2px 1px 0px var(--gris-light, 0.02);
    transition: transform 0.35s ease, background-color 0.35s ease;

    &:hover {
        color: var(--noir);
        font-weight: 700;
        background-color: var(--gris-fonce);
        transform: scale(1.1);
    }
}

// Flèches droite et gauche
.arrow {
    display: flex;
    justify-content: right;
    text-decoration: none;
    margin-top: 25px;
    width: 65px;

    &-left, &-right {
        position: relative;
        display: flex;
        align-items: flex-end;
        z-index: 10; 
    }

    &-left:hover ~  .thumbnail-left,
    &-right:hover ~ .thumbnail-right {
        opacity: 1;
    }
}

// miniatures
.thumbnail {
    display:flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 71px;
    overflow: hidden;
    transition: opacity 0.3s ease;

    & > img {
        margin-top: 15px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.thumbnail-left, .thumbnail-right {    
    width: 81px;
    height: 71px;
    position: absolute;
    top: 4px;
    right: 0;
    display:flex;
    align-items: center;
    justify-content: center;   
    margin-bottom: 25px;    
    overflow: hidden;
    opacity: 0; 
    transition: opacity 0.3s ease;  
    & > img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// Vous aimerez aussi
.others {
    margin-top: 20px;

    h3 {
        font-family: "SpaceMono", sans-serif;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        text-decoration: none;
        margin: 60px 0 50px 0;
    }

    p {
        font-family: "SpaceMono", sans-serif;
        font-size: 12px;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        text-decoration: none;
        margin: 60px 0 50px 0;
    }

    .related-photos-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        
    & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        }
    }
    
    .random-photo {
        max-width: 100%;
        transition: transform 0.3s ease;
        width: 564px;
        height: 495px;
        object-fit: cover;
    }
}

/* Style pour centrer l'icône "eye" */
.related-photo-item {
    position: relative;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;

    .eye-icon,
    .fullscreen-icon {
        z-index: 10;
        height: auto;
    }

    .eye-icon {
        width: 46px;
    }

    .fullscreen-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 34px;
    }
}

.related-photo-item:hover .overlay {
    opacity: 1;
}

/* Styles pour les écrans inférieurs à 768px */
@media screen and (max-width: 768px) {
    .description {
        display: flex;
        flex-direction: column;
        text-align: start;
        font-family: "SpaceMono", sans-serif;
        width: 90%;
        max-width: 100%;
        margin-left: 60px;
        padding-bottom: 50px;
        flex: 1;
        order: 2;
        border-bottom: none;

        h2 {
            font-size: 120px;
            font-weight: 420;
            font-style: italic;
            text-transform: uppercase;
            text-decoration: none;
            width: 50%;
            margin: 0;
            color: var(--noir);
        }

        p {
            font-size: 28px;
            font-weight: 400;
            font-style: italic;
            text-transform: uppercase;
            text-decoration: none;
            line-height: 10px;
        }
    }

    .others {
        width: 100%;
        margin: 15px 0;

        h3 {
            display: flex;
            justify-content: center;
            font-size: 36px;
        }

        p {
            font-size: 24px;
            text-align: center;
        }

        .related-photos-container {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .random-photo {
            width: 790px;
            height: 693px;
            padding-bottom: 25px;
            object-fit: cover;
        }
    }

    .photo-navigation {
        display: none;
    }

    .infos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 40px;
        margin: auto;
        border-bottom: 1px solid var(--noir);
    }

    .infos-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex: 1;
        order: 1;

        img {
            width: 85%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 50px;
    }    
    
    .photo-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: -1;
        margin-bottom: 20pxt;
        width: 100%;

        & > p {
            font-size: 28px;
            margin-bottom: 20px;
        }

        .btn-contact {
            align-items: flex-start;
            width: 500px;
            height: 100px;
            font-size: 28px;
            margin-top: 0;
        }
    }

    .related-photo-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        img {
            width: 95%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    }

        .fullscreen-icon {
        display: none !important;
    }

    .photos-grid {
    grid-template-columns: none;
    gap: 0 0 20px 0;
    max-width: 100%;
    margin: 0 auto;
    }

    .fullscreen-icon {
        display: none;
    }

    .related-photo-item .overlay .photo-title {
        left: 200px !important;
        bottom: 40px !important;
    }

    .related-photo-item .overlay .photo-category {
        right: 200px !important;
        bottom: 40px !important;
    }

    .photo-item {
        margin: 30px !important;
        width: 1128px;
        height: 990px;
    }
}
