// Conteneur de l'article
.infos {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 40px;
}

// Description des articles
.description {
    display: flex;
    flex-direction: column;
    font-family: "SpaceMono", sans-serif;
    width: 50%;
    border-bottom: 1px solid var(--noir);
    & > h2 {
        font-size: 66px;
        font-weight: 420;
        font-style: italic;
        text-transform: uppercase;
        text-decoration: none;
        width: 80%;
        color: var(--noir);
    }
    & > p {
        font-size: 14px;
        font-weight: 400;
        font-style: italic;
        text-transform: uppercase;
        text-decoration: none;
    }
}

// Photo
// .infos-photo {
//     width: 50%;
//     & > img {
//         height: auto;
//         max-width: 100%;
//     }
// }

// Partie contact
.contact {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid var(--noir);
    padding: 24.5px 0;
}

.photo-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-family: "SpaceMono", sans-serif;
    
    & > p {
        font-size: 14px;
        font-weight: 400;
        font-style: italic;
        text-transform: uppercase;
        text-decoration: none;
        max-width: 80%;
        width: 60%;
        padding-right: 20px;
        box-sizing: border-box;
    }
}

.btn-contact {
    width: 272px;
    height: 50px;
}

// Flèches droite et gauche
.arrow {
    display: flex;
    justify-content: right;
    text-decoration: none;
    margin-top: 25px;
    width: 65px;

    &-left, &-right {
        position: relative;
        display: flex;
        align-items: flex-end;
        z-index: 10; 
    }

    &-left:hover ~  .thumbnail-left,
    &-right:hover ~ .thumbnail-right {
        opacity: 1;
    }
}

// miniatures
.thumbnail {
    display:flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 71px;
    overflow: hidden;
    transition: opacity 0.3s ease;

    & > img {
        margin-top: 15px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.thumbnail-left, .thumbnail-right {    
    width: 81px;
    height: 71px;
    position: absolute;
    top: 4px;
    right: 0;
    display:flex;
    align-items: center;
    justify-content: center;   
    margin-bottom: 25px;    
    overflow: hidden;
    opacity: 0; 
    transition: opacity 0.3s ease;  
    & > img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// Vous aimerez aussi
.others {
    margin-top: 20px;

    h3 {
        font-family: "SpaceMono", sans-serif;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        text-decoration: none;
        margin: 60px 0 50px 0;
    }

    .related-photos-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    
    .random-photo {
        max-width: 100%;
        transition: transform 0.3s ease;
        width: 564px;
        height: 495px;
        object-fit: cover;
    }
}





/* Style pour centrer l'icône "eye" */
.related-photo-item {
    position: relative; /* Nécessaire pour positionner les éléments en absolu */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Masque par défaut */
    transition: opacity 0.3s ease; /* Animation lors du survol */
}

.related-photo-item:hover .overlay {
    opacity: 1; /* Affiche l'overlay lors du survol */
}

.eye-icon {
    width: 46px;
    height: auto;
    z-index: 10; /* S'assure que l'icône est au-dessus de l'image */
}

.fullscreen-icon {
    position: absolute;
    top: 10px; /* Ajuste la distance par rapport au haut */
    right: 10px; /* Ajuste la distance par rapport à la droite */
    width: 34px;
    height: auto;
    z-index: 10; /* S'assure que l'icône est au-dessus de l'image */
}


/* Styles pour les écrans inférieurs à 864px */
@media screen and (max-width: 864px) {
    .related-photos-container {
        display: flex;
        flex-direction: column;
    }

    .others {
        width: 100%;
        margin: 15px 0;
    }

    .photo-navigation {
        display: none;
    }

    .infos {
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center;
        padding-top: 40px;
        margin: auto;
        border-bottom: 1px solid var(--noir);
    }

    .description {
        display: flex;
        flex: 1;
        order: 2;
        flex-direction: column;
        font-family: "SpaceMono", sans-serif;
        width: 50%;
        border-bottom: none;
    }

    .infos-photo {
        width: 50%;
        flex: 1;
        order: 1;
    }

    .photo-contact {
        display: flex;
        flex-direction: column; /* Mettre les éléments (texte et bouton) en colonne */
        align-items: center; /* Centrer horizontalement le texte et le bouton */
        justify-content: center; /* Centrer verticalement */
        text-align: center; /* Centrer le texte dans le conteneur */
        gap: 10px; /* Ajouter un espacement entre le texte et le bouton */
    }

    .contact {
        display: block;
    }

    .others h3 {
        display: flex;
        justify-content: center;
    }
}