:root {
  --rouge: #E00000;
  --rouge-secondaire: #FE5858;
  --rouge-tertiaire: #FFD6D6;
  --noir: #000000;
  --gris-fonce: #C4C4C4;
  --gris-medium: #D8D8D8;
  --gris-light: #E5E5E5;
  --bleu-fonce: #313144;
  --blanc: #ffffff;
  --alpha: 0.4;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-LightItalic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "SpaceMono";
  src: url("../fonts/SpaceMono-Bold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "SpaceMono";
  src: url("../fonts/SpaceMono-BoldItalic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "SpaceMono";
  src: url("../fonts/SpaceMono-Italic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "SpaceMono";
  src: url("../fonts/SpaceMono-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.03);
}

.site-logo {
  display: flex;
  align-items: center;
  margin-left: 148px;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 148px;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-menu li {
  list-style: none;
}

.nav-menu a {
  font-family: "SpaceMono", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 23.7px;
  color: var(--noir);
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  border-top: 1px solid var(--noir);
}

.contact-modal {
  display: none;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.contact-modal-content {
  background-color: var(--blanc);
  margin: 5% auto;
  border: 4px solid var(--noir);
  max-width: 500px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  cursor: default;
}
.contact-modal-content img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
.contact-modal-content label,
.contact-modal-content input[type=submit] {
  text-transform: uppercase;
  font-family: "SpaceMono";
  font-size: 12px;
  font-weight: 400;
}

.cf7-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cf7-container input,
.cf7-container textarea,
.cf7-container input[type=submit] {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--gris-light);
}
.cf7-container input,
.cf7-container input[type=submit] {
  height: 40px;
}
.cf7-container textarea {
  height: 100px;
}
.cf7-container input[type=submit] {
  margin: auto;
  border-radius: 2px;
  background-color: var(--gris-medium);
  color: rgb(0, 0, 0);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.cf7-container input[type=submit]:hover {
  background-color: #ababab;
}

/* menu-burger */
.menu_burger, .nav_burger {
  display: none;
}

@media screen and (max-width: 864px) {
  .menu_burger {
    display: block;
    position: relative;
    width: 45px;
    height: 45px;
    right: 15px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
  }
  .menu_burger .line,
  .menu_burger .line::before,
  .menu_burger .line::after {
    display: block;
    position: absolute;
    width: 27px;
    height: 2px;
    border-radius: 3px;
    left: 0;
    background: var(--noir);
    transition: all 0.5s ease-in-out;
    content: "";
  }
  .menu_burger .line {
    position: relative;
  }
  .menu_burger .line::before {
    transform: translateY(-12px);
  }
  .menu_burger .line::after {
    transform: translateY(12px);
  }
  .menu_burger.open .line,
  .show-nav .line {
    width: 0;
    background: transparent;
  }
  .menu_burger.open .line::before,
  .show-nav .line::before {
    transform: rotate(45deg);
  }
  .menu_burger.open .line::after,
  .show-nav .line::after {
    transform: rotate(-45deg);
  }
  .show-nav .menu-burger {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    height: 100%;
    left: 0;
    background: var(--rouge);
    line-height: 100px;
    z-index: 1;
    gap: 18px;
  }
  .show-nav .menu-burger a {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "SpaceMono";
    font-size: 44px;
    font-weight: 400;
    margin-top: 47px;
    text-decoration: none;
    color: var(--blanc);
  }
  .menu-header-container {
    display: none;
  }
}
.site-navigation a:hover {
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */